body {
  height: 100vh;
  font-family: 'Arial', sans-serif;
  padding: 0;
  background-image: url('oi.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0.5px); /* Ajuste o valor para alterar o efeito de desfoque */
}

form {
  margin-top: 68%;
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com opacidade */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar o formulário */
}

h1 {
  margin: auto;
  position: fixed;
  margin: auto;
  top: 0;
  left: 30%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='submit'] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

/* Adicione estilos semelhantes para os outros campos e rótulos conforme necessário */
